@model HogeschoolPXL.Models.Data.Inschrijving

@{
    ViewData["Title"] = "Details";
    var startDatum = Model.AcademieJaar.StartDatum.Year;
    var eindDatum = startDatum + 1;
}

<h1>Details</h1>

<div>
    <h4>Inschrijving</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Student.Gebruiker.Naam)
            @Html.DisplayFor(model => Model.Student.Gebruiker.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VakLector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.VakLector.Vak.VakNaam) -
            @Html.DisplayFor(model => Model.VakLector.Lector.Gebruiker.Naam)
            @Html.DisplayFor(model => Model.VakLector.Lector.Gebruiker.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademieJaar)
        </dt>
        <dd class = "col-sm-10">
            @startDatum - @eindDatum
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InschrijvingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
