@model IEnumerable<StockViewModel>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtikelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtikelNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoeveelheid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtikelId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtikelNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hoeveelheid)
                </td>
            </tr>
        }
    </tbody>
</table>