@model MVCBibliotheekBENSLE.Models.Data.Reservatie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservatie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VergaderZaal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VergaderZaal.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gebruiker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gebruiker.Achternaam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservatieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
